.custom-event-title {
  display: flex;
  align-items: center;

  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  font-size: 10px;

  box-sizing: border-box;
  border-radius: 3px;
  height: 100%;
  padding: 0 3px;
}

.notification {
  background-color: #73adf4;
  color: #fff;
}

.reserve {
  background-color: #4eccc5;
  color: #fff;
}

.holiday {
  background-color: #f9dfdc;
  color: #e26150;
}

/*TODO: fix styling in package.*/
.monthSwitcher {
  input:global(.MonthSelect-datePicker) {
    display: inline-block !important;
  }
}
