.text-center {
  text-align: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
  overflow: hidden;
}
