.calendar-container {
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dategrid__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0;
  font-size: 12px;
}

.dategrid__header {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  padding-bottom: 5px;
}

.dategrid__content {
  height: 100%;
  width: 100%;
  flex: 1 0;
  position: relative;

  display: flex;
  flex-direction: column;
}

.dategrid__week {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.dategrid__item {
  border-top: 1px solid #eee;
  z-index: 0;
}

.dategrid__item--curWeek {
  border-color: #84b6ec;
  border-top-width: 2px;
}

.dategrid_content {
  z-index: 10;
  position: relative;
}

.dategrid_contentRow {
  display: flex;
  flex-direction: row;
}

.dategrid__dayTitle {
  display: block;
  flex: 1 1;
  text-align: center;
  min-width: 0;
  padding: 5px 0;
  color: #333;
  position: relative;
}

.daygrid__otherEventCount {
  color: white;
  font-weight: 500;
  background-color: #0077ff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2em;
}

.dategrid__dayTitle--today {
  background-color: #c9e3ff;
  font-weight: bolder;
}

.dategrid__dayTitle--otherMonth {
  color: #999999 !important;
}

.dategrid__dayTitle--sunday {
  color: #f44040;
}

.dategrid__dayTitle--saturday {
  color: #25b2e3;
}

.monthSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.monthSwitcher > button {
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

.monthSwitcher > button:disabled {
  cursor: not-allowed;
}

.monthSwitcher > button > img {
  width: 1em;
  height: 1em;
}

.event-chip {
  position: absolute;

  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 0 1px;

  height: 17px;
}

.event-title {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #73adf4;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2px;
  padding: 3px 2px;

  box-sizing: border-box;
  height: 100%;
  font-size: 10px;

  & > span {
    width: 100%;
    display: inline-block;
  }
}

.icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
  overflow: hidden;
}

input.MonthSelect-datePicker {
  display: inline-block;
  position: relative;
  width: 100%;
}

.MonthSelect-datePicker::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.MonthSelect {
  position: relative;
  width: 6em;
  overflow: hidden;
  margin: 1em 0;
}

.MonthSelect-datePickerCover {
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  text-align-last: justify;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  pointer-events: none;
  overflow: hidden;
}
