.dategrid__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0;
  font-size: 12px;
}

.dategrid__header {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  padding-bottom: 5px;
}

.dategrid__content {
  height: 100%;
  width: 100%;
  flex: 1 0;
  position: relative;

  display: flex;
  flex-direction: column;
}

.dategrid__week {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.dategrid__item {
  border-top: 1px solid #eee;
  z-index: 0;
}

.dategrid__item--curWeek {
  border-color: #84b6ec;
  border-top-width: 2px;
}

.dategrid_content {
  z-index: 10;
  position: relative;
}

.dategrid_contentRow {
  display: flex;
  flex-direction: row;
}

.dategrid__dayTitle {
  display: block;
  flex: 1 1;
  text-align: center;
  min-width: 0;
  padding: 5px 0;
  color: #333;
  position: relative;
}

.dategrid__otherEventCount {
  color: white;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2em;
  font-size: 8px;
  text-align: center;
  padding-right: 3px;
  padding-top: 2px;
}

.dategrid__otherEventCount::after {
  content: '';
  position: absolute;
  border-color: #fecd4e;
  border-style: solid;
  border-width: 12px 20px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 0;
  top: 0;
  z-index: -1;
}

.dategrid__dayTitle--today {
  background-color: #c9e3ff;
  font-weight: bolder;
}

.dategrid__dayTitle--otherMonth {
  color: #999999 !important;
}

.dategrid__dayTitle--sunday {
  color: #f44040;
}

.dategrid__dayTitle--saturday {
  color: #25b2e3;
}

.event-chip {
  position: absolute;

  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 0 1px;

  height: 17px;
}

.event-title {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #73adf4;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2px;
  padding: 3px 2px;

  box-sizing: border-box;
  height: 100%;
  font-size: 10px;

  & > span {
    width: 100%;
    display: inline-block;
  }
}
